/assets/models/DamagedHelmet.glb filter=lfs diff=lfs merge=lfs -text
/assets/models/bistro.glb filter=lfs diff=lfs merge=lfs -text
/assets/scenes/DamagedHelmet.glb filter=lfs diff=lfs merge=lfs -text
/assets/scenes/bistro.glb filter=lfs diff=lfs merge=lfs -text
/assets/scenes/FlightHelmet.glb filter=lfs diff=lfs merge=lfs -text
/assets/scenes/Sponza.glb filter=lfs diff=lfs merge=lfs -text
/assets/ibl/garden/color.hdr filter=lfs diff=lfs merge=lfs -text
/assets/ibl/garden/diffuse.ktx2 filter=lfs diff=lfs merge=lfs -text
/assets/ibl/garden/specular.ktx2 filter=lfs diff=lfs merge=lfs -text
/assets/ibl/cloudy/color.hdr filter=lfs diff=lfs merge=lfs -text
/assets/ibl/cloudy/diffuse.ktx2 filter=lfs diff=lfs merge=lfs -text
/assets/ibl/cloudy/specular.ktx2 filter=lfs diff=lfs merge=lfs -text
/docs/cloudy.mp4 filter=lfs diff=lfs merge=lfs -text
/docs/sunny.mp4 filter=lfs diff=lfs merge=lfs -text
