[submodule "imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vulkan-headers"]
	path = thirdparty/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
