[submodule "imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vulkan-headers"]
	path = thirdparty/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/KTX-Software"]
	path = thirdparty/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "thirdparty/slang"]
	path = thirdparty/slang
	url = https://github.com/shader-slang/slang.git
[submodule "thirdparty/glTF-IBL-Sampler"]
	path = thirdparty/glTF-IBL-Sampler
	url = https://github.com/KhronosGroup/glTF-IBL-Sampler
