/assets/models/DamagedHelmet.glb filter=lfs diff=lfs merge=lfs -text
/assets/models/bistro.glb filter=lfs diff=lfs merge=lfs -text
/assets/scenes/DamagedHelmet.glb filter=lfs diff=lfs merge=lfs -text
/assets/scenes/bistro.glb filter=lfs diff=lfs merge=lfs -text
